{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'main/css/cropper.min.css' %}" rel="stylesheet">
    <style>
        /* Limit image width to avoid overflow the container */
        img {
            max-width: 100%; /* This rule is very important, please do not ignore this! */
            max-height: 600px;
        }
    </style>

{% endblock %}

{% block title %}Редактрирование изображения{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot no-padding-left no-padding-right accr-breadcrumb">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 accr-gray">
                    <a href="/" class="breadcrumb">Главная</a>
                    <a href="{% url 'account:profile' %}" class="breadcrumb">Аккаунт</a>
                    <a href="{% url 'account:reporter_update' reporter.id %}" class="breadcrumb">{{ reporter }}</a>
                    <a href="" class="breadcrumb">Изменение изображения</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}


    <div class="row card-panel">
        <!-- Wrap the image or canvas element with a block element (container) -->

        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <img id="image-crop" src="{{ reporter.image.url }}">
            </div>

            <input type="hidden" name="x" id="id_x">
            <input type="hidden" name="y" id="id_y">
            <input type="hidden" name="width" id="id_width">
            <input type="hidden" name="height" id="id_height">

            <div class="row">
                <div class="col s8 offset-s2 center-align">
                    <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
                        Изменить изображение
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}


{% block js %}
    <script src="{% static 'main/js/cropper.min.js' %}"></script>
    <script>
        var image = document.getElementById('image-crop');
        var cropper = new Cropper(image, {
            aspectRatio: 3 / 4,
            viewMode: 1,
            crop: function (e) {
                {#                console.log(e.detail.x);#}
                $('#id_x').val(Math.round(e.detail.x));
                {#                console.log(e.detail.y);#}
                $('#id_y').val(Math.round(e.detail.y));
                {#                console.log(e.detail.width);#}
                $('#id_width').val(Math.round(e.detail.width));
                {#                console.log(e.detail.height);#}
                $('#id_height').val(Math.round(e.detail.height));
                {#                console.log(e.detail.rotate);#}
                {#                console.log(e.detail.scaleX);#}
                {#                console.log(e.detail.scaleY);#}
            }
        });
    </script>
{% endblock %}