{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>
        {% block title %}Starter Template - Materialize{% endblock title %}
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'main/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'main/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {#    <script type="text/javascript" src="{% static 'main/js/sorttable.js' %}"></script>#}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.tablesorter.js' %}"></script>
    {% block css %}{% endblock %}
</head>
<body>
<header>
    <nav class="indigo darken-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                {#                <li><a href="{% url 'registration_register' %}">Авторизация</a></li>#}
                {% if request.user|has_group:"employee" or request.user.is_superuser %}
                    <li><a href="{% url 'main:access_card' %}">Генерация обложек</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}">Выйти из системы</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Вход в систему</a></li>
                {% endif %}

            </ul>

            <ul id="nav-mobile" class="side-nav">
                {% if request.user|has_group:"employee" or request.user.is_superuser %}
                    <li><a href="{% url 'main:access_card' %}">Генерация обложек</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}">Выйти из системы</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Вход в систему</a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock content %}
</main>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->

<script src="{% static 'main/js/materialize.js' %}"></script>
<script src="{% static 'main/js/init.js' %}"></script>


{% block js %}
{% endblock %}

</body>
</html>
