{% extends 'base.html' %}

{% block title %}
    Главная - Аккредитация журналистов при Правительстве Калининградской области
{% endblock %}

<h1>Аккредитация на 2018 год закончена.</h1>

{% block content %}
    <div class="row">
        <div class="col m12 l6">
            <p>Аккредитация проводится в период с 30.11.2017 г. по 09.12.2017 г., в соответствии с Правилами
                аккредитации журналистов средств массовой информации при правительстве Калининградской области,
                утвержденными постановлением от 02 августа 2010 года № 595.</p>
            <br>
            <p>ВНИМАНИЕ!</p>
            <p>Аккредитация на 2018 год завершена.</p>
        </div>
    </div>
{% endblock %}